[submodule "modules/DSDL"]
	path = modules/DSDL
	url = https://github.com/DroneCAN/DSDL
[submodule "modules/dronecan_dsdlc"]
	path = modules/dronecan_dsdlc
	url = https://github.com/dronecan/dronecan_dsdlc/
[submodule "modules/googletest"]
	path = modules/googletest
	url = https://github.com/google/googletest
[submodule "modules/cmocka"]
	path = modules/cmocka
	url = https://gitlab.com/cmocka/cmocka
[submodule "modules/libcanard"]
	path = modules/libcanard
	url = https://github.com/dronecan/libcanard/
[submodule "modules/newlib"]
	path = modules/newlib
	url = https://sourceware.org/git/newlib-cygwin.git
