menu "Motors" # =======================================


choice SLAVE_MOTORS_DRIVER # ---------------------------
    prompt "Motor driver select"
	help
		"This option assumes each wheel has same drivers as of now"

config MOTORS_USE_VNH5019
    bool "ST VNH5019"

endchoice # choice SLAVE_MOTOR_DRIVER -----------------


config MOTOR_1_PWM_CHANNEL
    int "PWM Channel for motor 1"
	default 2 if 
	default 1

config MOTOR_2_PWM_CHANNEL
    int "PWM Channel for motor 2"
	default 2

config MOTOR_3_PWM_CHANNEL
    int "PWM Channel for motor 3"
	default 3

config MOTOR_4_PWM_CHANNEL
    int "PWM Channel for motor 4"
	default 4

config MOTOR_5_PWM_CHANNEL
    int "PWM Channel for motor 5"
	default 5
	depends on ROVER_FRAME_SKID_STEERER

config MOTOR_6_PWM_CHANNEL
    int "PWM Channel for motor 6"
	default 6
	depends on ROVER_FRAME_SKID_STEERER


# невидимые параметры ---------------------------------

config MOTORS_VIA_PWM
    bool
    default y if MOTORS_USE_VNH5019
	default n


endmenu
