menu "AHRS/IMU module" # ==============================


choice SLAVE_AHRS # -----------------------------------
	prompt "AHRS/IMU module select"
	help

config AHRS_USE_NAVX_MICRO
	bool "Kauai Labs navX-Micro"

endchoice # choice SLAVE_AHRS -------------------------


config AHRS_IFACE_INSTANCE_INDEX
	int "AHRS interface index"
	default 1
	help
	    Index of the interface used to communicate with AHRS module.
		Note: (TBD) interface index collisions are resolved in <common/defines.h>
		and an error will be generated on collision. Make sure your sensor
		and motor connections are planned ahead


# невидимые параметры ---------------------------------

config AHRS_RAW_IMU_DEVICE
	bool
	default n if AHRS_USE_NAVX_MICRO
	default y

config AHRS_VIA_I2C
	bool
	default y if AHRS_USE_NAVX_MICRO
	default n

endmenu 
