menu "CAN interface"

choice CAN_BITRATE_CHOICE
	   prompt "CAN bitrate"

config CAN_BITRATE_5KHZ
	   bool "5 KHz"

config CAN_BITRATE_10KHZ
	   bool "10 KHz"

config CAN_BITRATE_25KHZ
	   bool "25 KHz"

config CAN_BITRATE_50KHZ
	   bool "50 KHz"

config CAN_BITRATE_125KHZ
	   bool "125 KHz"

config CAN_BITRATE_250KHZ
	   bool "250 KHz"

config CAN_BITRATE_500KHZ
	   bool "500 KHz"

config CAN_BITRATE_800KHZ
	   bool "800 KHz"
	   
config CAN_BITRATE_1000KHZ
	   bool "1000 KHz"

endchoice

config CAN_BITRATE_KHZ
	   int
	   default 5    if CAN_BITRATE_5KHZ
	   default 10   if CAN_BITRATE_10KHZ
	   default 25   if CAN_BITRATE_25KHZ
	   default 50   if CAN_BITRATE_50KHZ
	   default 125  if CAN_BITRATE_125KHZ
	   default 250  if CAN_BITRATE_250KHZ
	   default 500  if CAN_BITRATE_500KHZ
	   default 800  if CAN_BITRATE_800KHZ
	   default 1000 if CAN_BITRATE_1000KHZ

endmenu
