menu "Slave configuration"


source "slave/boards/Kconfig"
source "slave/soc/Kconfig"
source "slave/arch/Kconfig"

source "slave/kconfig/Kconfig.safety"


menu "Serial communication" #=======================================


config SLAVE_SERIAL_DEBUG_MSGS
	   bool "Enable serial debug messages"
	   default n


choice SLAVE_SERIAL_BAUD_CHOICE
	   prompt "Serial communication baud"

config SLAVE_SERIAL_BAUD_9600
	   bool "9600"

config SLAVE_SERIAL_BAUD_115200
	   bool "115200"
	   
endchoice # SERIAL_BAUD_CHOICE

config SLAVE_SERIAL_BAUD
	   int
	   default 9600   if SLAVE_SERIAL_BAUD_9600
	   default 115200 if SLAVE_SERIAL_BAUD_115200


config SLAVE_SERIAL_TX_QUEUE_LEN
	   int     "Messages to be transmitted queue length (bytes)"
	   default 128

config SLAVE_SERIAL_RX_QUEUE_LEN
	   int     "Received messages queue length (bytes)"
	   default 128
	   

endmenu # Serial communication =====================================


endmenu
