menu "Slave configuration"


source "slave/boards/Kconfig"
source "slave/soc/Kconfig"
source "slave/arch/Kconfig"

source "slave/kconfig/Kconfig.safety"
source "slave/kconfig/Kconfig.opts"
source "slave/kconfig/Kconfig.flash"
source "slave/kconfig/Kconfig.led"
source "slave/kconfig/Kconfig.serial"
source "slave/kconfig/Kconfig.can"
source "slave/kconfig/Kconfig.ahrs"


endmenu
