menu "System-on-Chip"



# Kconfig-и для разных SoC ============================================

source "slave/soc/atmel/sam3x8e/Kconfig"


# невидимые параметры ============================================


# -----------------------------------------------------------

config SLAVE_SOC_ATMEL_SAM3X8E
	   def_bool SLAVE_BOARD_STUDICA_BLACKHAWK

config SLAVE_SOC_ESPRESSIF_ESP32_S3_WROOM_1
	   def_bool SLAVE_BOARD_ESP32_DEVKITC


# -----------------------------------------------------------

source "slave/kconfig/Kconfig.toolchain"


# ------------------------------------------------------

config SLAVE_SOC_VENDOR
	   string
	   default "espressif" if SLAVE_SOC_ESPRESSIF_ESP32_S3_WROOM_1
	   default "atmel"     if SLAVE_SOC_ATMEL_SAM3X8E

config SLAVE_SOC_PREFIX
	   string
	   default "esp32_s3" if SLAVE_SOC_ESPRESSIF_ESP32_S3_WROOM_1
	   default "sam3x8e"  if SLAVE_SOC_ATMEL_SAM3X8E


# ------------------------------------------------------

config SLAVE_SOC_HAS_FPU
	   bool
	   default n if SLAVE_SOC_ATMEL_SAM3X8E

endmenu
